Flask==3.0.0  # Ensure compatibility with your Flask version
matplotlib==3.8.0  # For plotting
seaborn==0.12.2  # Visualization library dependent on matplotlib
pandas==2.1.1  # For DataFrame operations
gunicorn
openpyxl
xlsxwriter
firebase-admin # For Firebase integration
requests # For making HTTP requests (optional, but recommended)
